.svg__fill {
  &--blue {
    fill: $primary-blue;
  }
  &--white {
    fill: $white;
  }
}

.svg {
  height: 100px;
  width: 100px;
  &--none {
    fill: none;
  }
  &--blue {
    fill: $primary-blue;
  }
  &--red {
    fill: $primary-red;
  }
}

.svg--max-width {
  max-width: 100%;
}

.svg {
  &__button {
    height: 48px;
    width: 48px;
  }
  &--fill-none {
    fill: none;
  }
  &--fill-white {
    fill: $white;
  }
  &--fill-blue {
    fill: $primary-blue;
  }
  &--fill-green {
    fill: $success-check-mark;
  }
  &__earn-more {
    transform: scale(1.35);
  }
}

.svg__fill--bright-red {
  fill: #C81F49;
}

.svg__fill--red-shadow {
  fill: #8F0F28;
}

