---
layout: landing
baseurl: '../'
title: Thank You
description: ''
include_eurostile_font: true
thank-you_main-heading: 'Thank you for your interest in&nbsp;KCC!'
thank-you_secondary-heading: 'You’ll receive an automatic email, and then a personalized reply within two business&nbsp;days.'
---

<main class="container positioning__offset-global-nav thank-you__main" id="content">
  <h1 class="visually-hidden">{%- if page.outline_title -%}{{ page.outline_title }}{% else %}{{ page.title }}{%- endif -%}</h1>
  <div class="row">
    <div class="col">
      {% include breadcrumbs.html %}
      <div class="border rounded bg-secondary-subtle p-5 my-5 text-center text-md-start">
        {% include svg/check-mark.html %}&nbsp;<h2 class="typography__register--thank-you text-start">
          {{ page.thank-you_main-heading }}
        </h2>
        <h3 class="typography__register--thank-you--message text-start" style="padding-left:1rem">
          {{ page.thank-you_secondary-heading }}
        </h3>
      </div>
    </div>
  </div>
</main>
