<nav id="globalNav" role="navigation" class="navbar nav-landing fixed-top navbar-fixed-top">
    <a class="clickable navbar-brand nav-landing__navbar-brand me-auto" href="https://www.kcc.edu" aria-label="Kankakee Community College">
      <img
        src="{{ page.baseurl }}assets/img/kcc-logo_white.svg"
        height="36px"
        width="82.398px"
        class="nav-landing__kcc-logo-inverse img-fluid"
        alt="KCC">
      <img
        src="{{ page.baseurl }}assets/img/kcc-word-logo_white.svg"
        height="36px"
        width="432px"
        class="nav-landing__kcc-logo d-none d-sm-inline img-fluid"
        alt="Kankakee Community College">
    </a>
    {% if site.contact_phone != false %}
    <span class="typography__phone--span">
      <a class="links__phone--span"
        href="tel:+1{% if site.contact_phone %}{{ site.contact_phone | remove: '-' }}{% else %}8158028500{% endif %}">
      {% if site.contact_phone %}{{ site.contact_phone }}{% else %}815-802-8500{% endif %}
    </a>
    </span>
    {% endif %}
  </nav>
