<!-- preconnect to assets -->
<!-- fonts -->
<!-- preconnect to the Eurostile typekit font -->
<link rel="preconnect" href="https://use.typekit.net">
<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- Google Cusom Search -->
<link rel="preconnect" href="https://clients1.google.com">
<link rel="preconnect" href="https://www.google.com">
<!-- Custom theme JS -->
<link rel="preconnect" as="script" href="{{page.baseurl}}assets/js/dist/main{% if site.data.hash %}.{{ site.data.hash }}{% endif %}.bundle.js">
<!-- End of preconnects -->