<!-- jQuery for pages that use DataTabes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- dataTable's JS (v1.10.18 for use w/ bootstrap4 theme) -->
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<!-- dataTable's Bootstrap4 theme's JS -->
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<!-- dataTable's JS for "Responsive" extension -->
<script src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
