
.thank-you {
  &__check-mark {
    height: 75px;
    position: relative;
    top: -1rem;
    width: 75px;
  }
  &__main {
    min-height: 50vh;
  }
}

@media screen and ( min-width: 768px) {
  .thank-you__check-mark {
    position: static;
  }
}

@media screen and (min-width: 992px) {
  .thank-you__main {
    min-height: 65vh;
  }
}
